

<div class="text-center user-blogpost">
<h2> Title: {{title}} </h2>
  <p>{{content}}</p>
  <p>Created by {{user.userName}} on {{format_date date_created}}</p>
<div class="comment">
                {{#each comments}}
                {{> comment }}
                {{/each}}
            </div>
   <div class="update-parent-container">
    <button id="update-post-btn" data-id="{{id}}" class="btn btn-primary"> Update Post </button>
  </div>
    <button id="delete-post-btn" data-id="{{id}}" class="btn btn-danger"> Delete Post </button>
</div>

{{!-- Add code to update a blogpost --}}
<form id="update-blogpost-form" style="display: none;" class="update-blogpost-form">
    <h2> Update A Blogpost </h2>
  <div class="form-group">
    <label for="update-blogpost-title"> Title </label>
    <input type="update-blogpost-title" class="form-control" id="update-blogpost-title"  placeholder="Enter a title">
  </div>

  <div class="form-group">
    <label for="update-blogpost-content"> Content </label>
    <input type="update-blogpost-content" class="form-control" id="update-blogpost-content" placeholder="Blogpost content here...">
  </div>
  <button id="submit-update-blogpost" data-id="{{id}}" type="submit" class="btn btn-primary"> Update </button>
</form>

<script src="../js/userblogs.js"></script>

