

<div class="text-center user-blogpost">
<h2> Title: {{title}} </h2>
  <p>{{content}}</p>
  <p>Created by {{user.userName}} on {{format_date date_created}}</p>
<div class="comment">
                {{#each comments}}
                {{> comment }}
                {{/each}}
            </div>
   <div class="update-parent-container">
    <button id="update-post-btn-{{id}}" data-id="{{id}}" class="btn btn-primary update-post-btn"> Update Post </button>
  </div>
    <button id="delete-post-btn-{{id}}" data-id="{{id}}" class="btn btn-danger"> Delete Post </button>
</div>

{{!-- Add code to update a blogpost --}}
<form id="update-blogpost-form-{{id}}" data-id="{{id}}" style="display: none;" class="update-blogpost-form">
    <h2> Update A Blogpost </h2>
  <div class="form-group">
    <label for="update-blogpost-title-{{id}}"> Title </label>
    <input  type="update-blogpost-title" class="form-control" id="update-blogpost-title-{{id}}"  placeholder="Enter a title" value="{{title}}">
  </div>

  <div class="form-group">
    <label for="update-blogpost-content-{{id}}"> Content </label>
    <input type="update-blogpost-content" class="form-control" id="update-blogpost-content-{{id}}" placeholder="Blogpost content here..." value="{{content}}">
  </div>
  <button type="submit" class="btn btn-primary submit-update-blogpost"> Update </button>
</form>

<script src="../js/userblogs.js"></script>

