{{#if loggedIn}}
<div class="text-center">
  <div class="post-main">
    <h2> {{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{user.userName}} on {{format_date date_created}}</p>
  </div>
    <p class="comment-header"> Comments: </p>

<div class="comment">
                {{#each comments}}
                {{> comment }}
                {{/each}}
            </div>
</div>

<form id="add-comment-form-{{id}}" data-id="{{id}}" style="" class="add-comment-form">
    <h2> Add a comment </h2>

  <div class="form-group">
    <label for="comment">  </label>
    <input type="comment" class="form-control" id="comment" placeholder="Enter comment here...">
  </div>
  <button type="submit" class="btn btn-primary submit-comment-btn"> Comment </button>
</form>
{{else}}
<div class="warning-div">
  <h3 class="warning"> You must <a href="/login"> Login </a> in order to view this page! </h3>
</div>
{{/if}}



<script src="../js/blogpost.js"></script>